.tab-nav-item {
  font-size: 20px;
}

.content-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  &--number {
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-right: 25px;
  }
  @media (max-width: 574px) {
    margin-bottom: 25px;
   }

}

.content {
  margin-top: 30px;
  // width: 1050px;
  height: 472px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 574px) {
    margin: 0;
    height: auto;
    flex-direction: column;
    padding: 0;

    .technology-slider__content {
    width: 316px;
    margin-top: 270px;
    transform: translateX(33%);
    -webkit-transform: translateX(33%);
    -moz-transform: translateX(33%);
    -ms-transform: translateX(33%);
    -o-transform: translateX(33%);
}
    .technology-slider__nav {
      position: absolute;
      flex-direction: row;
      width: 152px;
      top: 330px;
      left: 100px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      &--btn{
        height: 40px;
        width: 40px;
      }
    }
  }
}

.slider-navigation {
  margin-top: 120px;
  width: 132px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_dot {
    width: 15px;
    height: 100%;
    border-radius: 100%;
    background-color: var(--color-elephant-bone);
    mix-blend-mode: normal;
    opacity: 0.17;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

.dot-active {
  background-color: var(--color-elephant-bone);
  opacity: 1;
}
