h1,
h2,
h3,
h4,
h5,
.subhead-h1,
.subheader-h2,
.nav-text,
.distance {
  text-transform: uppercase;
}

//Heading 1 - Bellefair Regular - 150px
h1 {
  color: var(--color-elephant-bone);

  font-family: var(--font-basic);
  font-size: var(--text-size-h1);
  line-height: 172px;
}

//Heading 2 - Bellefair Regular - 100px
h2 {
  color: var(--color-elephant-bone);

  font-family: var(--font-basic);
  font-size: var(--text-size-h2);
  line-height: 115px;
}

//Heading 3 - Bellefair Regular - 56px
h3 {
  color: var(--color-elephant-bone);

  font-family: var(--font-basic);
  font-size: var(--text-size-h3);
  line-height: 64px;
}
//Heading 4 - Bellefair Regular - 32px
h4 {
  color: var(--color-elephant-bone);

  font-family: var(--font-basic);
  font-size: var(--text-size-h4);
  line-height: 37px;
}

//Heading 5 - Barlow Condensed Regular - 28px - 4.75 Character Space
h5 {
  letter-spacing: 4.725px;

  color: var(--color-elephant-bone);

  font-family: var(--font-second);
  font-size: 28px;
  line-height: 34px;
}

//Subheading 1 - Bellefair Regular - 28px
.subhead-h1 {
  color: var(--color-elephant-bone);
  font-family: var(--font-basic);
  font-size: var(--text-size-subhead-1);
  line-height: 32px;
}

//Subheading 2 - Barlow Condensed Regular - 14px - 2.35 Character Space
.subhead-h2 {
  letter-spacing: 2.3625px;

  color: var(--color-elephant-bone);

  font-family: var(--font-second);
  font-size: var(--text-size-subhead-2);
  line-height: 17px;
}

//Nav Text - Barlow Condensed Regular - 16px - 2.7 Character Space
.nav-text {
  letter-spacing: 2.7px;

  font-family: var(--color-elephant-bone);
  font-size: var(--text-navigation);
  line-height: 19px;
}

//Body text
.text-basic {
  color: var(--color-elephant-bone);

  font-family: var(--font-second);
  font-size: var(--text-basic);
  line-height: 32px;
}

.distance {
  font-family: var(--font-second);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  color: #d0d6f9;
}
