.home {
  width: 100%;
  height: 100vh;
  background-image: url(./../assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 0;

  &__holder {
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // margin-bottom: 131px;
    &-content {
      width: 450px;
    }
    &-button {
    }
  }
  @media (max-width: 574px) {
    background-image: url(./../assets/home/background-home-mobile.jpg);
    background-position: center;
    overflow: hidden;
    transition: all 20s ease;
    animation: levitate 20s ease infinite;
    &__holder {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      text-align: center;
      &-content {
        width: auto;
        margin-bottom: 55px;
      }
    }
  }
}

.padding-home {
  padding-top: 250px;
  @media (max-width: 574px) {
    padding-top: 70px;
  }
}

@keyframes levitate {
  0% {
    padding-bottom: 0px;
  }
  20% {
    padding-bottom: 10px;
  }
  40% {
    padding-bottom: 0;
    padding-right: 10px;
  }
  60% {
    padding-right: 0;
    padding-left: 10px;
  }
  40% {
    padding-left: 0;
  }
  40% {
    padding-top: 10px;
  }
  100% {
    padding: 0;
  }
}
