.technology {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  &__content {
    display: flex;
    align-items: center;
    height: 527px;
  }
  &-slider {
    width: 604px;
    height: 303px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__nav {
      width: 80px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      &--btn {
        width: 80px;
        height: 80px;
        mix-blend-mode: normal;
        opacity: 0.25;
        border-radius: 100%;
        background-color: transparent;
        cursor: pointer;
        border: 1px solid var(--color-elephant-bone);
        color: var(--color-elephant-bone);
        &:hover {
          opacity: 1;
        }
        &--active {
          background-color: var(--color-elephant-bone);

          opacity: 1;
          h4 {
            color: var(--color-navy-blue);
          }
        }
      }
    }
    &__content {
      width: 444px;
      height: 303px;
      &-supheader {
        margin-bottom: 10px;
      }
      &-header {
        margin-bottom: 15px;
        white-space: nowrap;
      }
    }
  }
  .tech-img {
    width: 515px;
    height: 527px;
    position: absolute;
    right: 150px;
    bottom: 100px;
  }
  @media (max-width: 574px) {
    background-image: url(../assets/technology/background-technology-mobile.jpg);
    &__content {
      display: flex;
      margin-top: 300px;
      flex-direction: column;
      width: auto;
      padding: 0 24px 0;
      .technology-slider__content {
        margin-top: 300px;
        text-align: center;
        width: 100%;
        padding: 0 24px 0;
        &-supheader {
          font-size: 14px;
  line-height: 17px;
        }
        &-header {
          font-size: 24px;
  line-height: 28px;
        }
        &-text {
          font-size: 15px;
line-height: 25px;
        }
      }
      
    }
    .tech-img {
      // object-fit: ;
      width: 235px;
      height: 170px;
      position: absolute;
      top: 140px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
}
  }
}

.padding-technology {
  margin-top: 25px;
}
